


.carousel-indicators{
  display: none;
  visibility: hidden;
}

.hedersito{
  box-shadow:  2px 2px 2px 0px #db0000;

}



.carousel-caption{
  display: none;
}
.padre{
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.titulo{
  margin-top:200px ;
  text-align: center;
}

.h1Titulo{
  text-align: center;
  background-color: #d1d1d1;
  box-shadow: 1px 2px 2px 2px #979797;
}


.titulo2Box{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #d1d1d1;
    height: 200px;
    width: 100%;
    right: auto;
    left: auto;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    box-shadow: 1px 2px 2px 2px #979797;
}

.titulo2{
  text-align: center;
  color: rgb(2, 2, 0);
  margin-top: 70px;
}


.elemento1{
  display: block;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.cajaStocks{
  color: white;
  width: 100%;}

.paginator{
 background-color:  #ecf0f3;
 color: black;
 display: flex;
 justify-content: center;
}

.paginatorMobile{
  display: none;
}

.mat-paginator-page-size{
  display: none;
}

 .ulPaginator{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.ulPaginator2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  background-color: blue;
  margin: 5px;
}

.botonesPaginator{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
}

.botonAtras{
  width: 64px;
  margin-top: 20px;
  cursor: pointer;
}

.botonAtras:hover{
width: 68px;
}

.botonAtras:active{
  width: 60px;
}

.botonAvance{
  width: 64px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
  
}

.botonAvance:hover{
width: 68px;
}

.botonAvance:active{
  width: 60px;
}




.liPaginator{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: center;
}

  li:hover{
    cursor: pointer;
  }

  .aPaginator{
    text-decoration: none;
    width: 100%;
  }

  .descarga{
    width: 24px;
    height: 24px;
    margin-bottom: 50px;
  }

p{
  margin-top:40px;
  width: 100%;
  height: 50%;
  text-align: center;
}

.elemento2{
  width: 800px;
  height: 250px;
  background-color: #d5d5d5;
  border:2px solid rgb(185, 185, 185);
  box-shadow: 2px 2px 2px 2px rgb(216, 216, 216);
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;

}

.h1Info{
  text-align: center;
  padding-top: 10px;

}


.inforCompany{
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: auto;
}

.inforNumber{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.inforImg{

  margin: 10px;
}

.h2Info{
  text-align: center;

}

.wrapper{
  width: 100% !important;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.imagenesCarousel{
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.container-fluid{
  background: rgb(255, 255, 255);
  border-radius: 4px;
  position: relative;
}



@media(max-width: 500px){
  .paginator{
    display: none;
  }

  .paginatorMobile{
    background-color:  #ecf0f3;
    display: flex;
    justify-content: center;
   }

   .wrapper{
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .padre{
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .elemento1{
    display: block;
    margin-top: 0px;
    
  }

  .titulo{
    margin-top: 0px;
  }

  .titulo2Box{
    width: 100%;
    text-align: center;
    color: black;
    right: none;
    left: none;
    background-color: #d1d1d1;
    height: 200px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 2px 2px #979797;
  }

  .liPaginator{
    width: 50px;
    height: 50px;
  }

  .elemento2{
    width: 100%;
  }

  .inforCompany{
    display: block;
    margin-left:0px ;
  }
}




