

<div *ngIf="showHome">
<app-heder
class="hedersito"
(activarInformacion)="showInformacion($event)"
(activarGuardados)="showStockGuardados($event)"
(activarGuardadosMobile)="showStocksMovile($event)"
(sideMenu)="closeCarousel($event)"
(loadStockP)="showStock($event)"
></app-heder>



<div class="padre">


  <div class="container-fluid" *ngIf="cerrarCarousel">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <img class="imagenesCarousel" [src]="image.src" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
          <p>{{ image.short }}</p>
        </div>
      </ng-template>
    </ngb-carousel>



  <!--Paginator Mobile-->
  <div class="elemento1" *ngIf="activarMovile " >
    
    <div class="titulo" *ngIf="datosStockSaves.length > 0"> <h1 class="h1Titulo">Stocks guardados</h1> </div>
    <div class="titulo2Box"  *ngIf="datosStockSaves.length === 0">
      <h2 class="titulo2">No existen stocks almacenados</h2>
    </div>
    <mat-paginator
    style-paginator showFirstLastButtons
    class="paginatorMobile"
    [length]="listaStocks.length"
    [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOptions2"
    (page)="handlePage($event)"
    aria-label="Select page">
</mat-paginator>
<ul class="ulPaginator">
  <li class="liPaginator" *ngFor="let l of datosStockSaves | paginator:page_size:page_number">
    <a class="aPaginator" href="/"><p >{{l.id}}</p></a>
    </li>
  </ul>
</div>



<!--Fin Paginator Mobile-->



<!--Mostrar Stocks Guardados-->

  <div class="elemento1" *ngIf="activar2 " >
    <div class="cajaStocks"> 
    <div class="titulo" *ngIf="datosStockSaves.length > 0">
       <h1 class="h1Titulo">Stocks guardados 212</h1> 
    </div>
    <div class="titulo2Box"  *ngIf="datosStockSaves.length === 0">
      <h2 class="titulo2">No existen stocks almacenados</h2>
    </div>


    <mat-paginator
    style-paginator showFirstLastButtons
    class="paginator"
    [length]="listaStocks.length"
    [pageSize]="page_size"
    [pageIndex]="page_index"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePage($event)"
    aria-label="Select page">
</mat-paginator>

<div class="botonesPaginator">
  <a><img *ngIf="page_number > 1"   class="botonAtras" src="../../../assets/png/flecha.png" (click)="volverPagina()"></a>
<ul class="ulPaginator" >

  <li class="liPaginator" *ngFor="let l of datosStockSaves | paginator:page_size:page_number">
    <a class="aPaginator"><p>{{l}}</p><img class="descarga" src="../../../assets/png/descarga.png"></a>

    </li>
</ul>
<div>
<a *ngIf="datosStockSaves.length > 6" ><img  class="botonAvance" src="../../../assets/png/flecha2.png" (click)="pasarPagina()"></a>
</div>
</div>
</div>
</div>
<!--fin-->

<!--Mostrar Información-->
<div class="elemento2" *ngIf="activarInfo ">

    <h1 class="h1Info">Información</h1>

    <h2 class="h2Info">{{helpText}}</h2>

<div class="inforCompany">
    <div class="inforNumber">
      <a target="_blank" href="https://wa.me/543516838934"><img class="inforImg" src="../../../assets/png/telefono.png"></a>
      <a target="_blank" href="mailto:danrieloto@gmail.com"><img class="inforImg" src="../../../assets/png/email.png"></a>
    </div>

    <div class="inforNumber">
    </div>

 </div>
  </div>


</div>
</div>


</div>
  <app-stock class="nada" *ngIf="crearStock"
  (sendData)="reciveData($event)"
  (back)="volver($event)"
  (back2)="volverMobile($event)"
  ></app-stock>













