

<div *ngIf="showHome">
<app-heder
(activarInformacion)="showInformacion($event)"
(activarGuardados)="showStockGuardados($event)"
(activarGuardadosMobile)="showStocksMovile($event)"
(loadStockP)="showStock($event)"
></app-heder>
<div class="padre">

  <!--Paginator Mobile-->
  <div class="elemento1" *ngIf="activarMovile " >
    <div class="titulo"> <h1>Stocks guardados</h1> </div>
    <mat-paginator
    style-paginator showFirstLastButtons
    class="paginatorMobile"
    [length]="listaStocks.length"
    [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOptions2"
    (page)="handlePage($event)"
    aria-label="Select page">
</mat-paginator>

<ul class="ulPaginator">
  <li class="liPaginator" *ngFor="let l of datosStockSaves | paginator:page_size:page_number">
    <a class="aPaginator" href="/"><p >{{l.id}}</p></a>
    </li>
  </ul>
</div>



<!--Fin Paginator Mobile-->

<!--Mostrar Stocks Guardados-->
  <div class="elemento1" *ngIf="activar2 " >
    <div class="titulo"> <h1>Stocks guardados</h1> </div>
    <h2 *ngIf="datosStockSaves.length === 0">No existen stocks almacenados</h2>
    <mat-paginator
    style-paginator showFirstLastButtons
    class="paginator"
    [length]="listaStocks.length"
    [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePage($event)"
    aria-label="Select page">
    {{listaStocks.length}}
</mat-paginator>
<ul class="ulPaginator">
  <li class="liPaginator" *ngFor="let l of datosStockSaves | paginator:page_size:page_number">
    <a class="aPaginator" href="/"><p >{{l}}</p></a>
    </li>
  </ul>
</div>
<!--fin-->

<!--Mostrar Información-->
<div class="elemento2" *ngIf="activarInfo ">

    <h1 class="h1Info">Información</h1>

    <h2 class="h2Info">{{helpText}}</h2>

<div class="inforCompany">

    <div class="inforNumber">
      <a target="_blank" href="https://wa.me/543516838934"><img class="inforImg" src="../../../assets/png/telefono.png"></a>
      <a target="_blank" href="mailto:danrieloto@gmail.com"><img class="inforImg" src="../../../assets/png/email.png"></a>
    </div>

    <div class="inforNumber">
    </div>

 </div>



  </div>

  <button></button>
</div>
</div>
  <app-stock class="nada" *ngIf="crearStock"
  (sendData)="reciveData($event)"
  (back)="volver($event)"
  ></app-stock>







