<app-heder (activarGuardados)="showStockGuardados($event)"></app-heder>
<div class="padre">


  <div class="elemento1" *ngIf="activar2" >
    <div class="titulo"> <h1>Stocks guardados</h1> </div>
    <mat-paginator
    class="paginator"
    [length]="listaStocks.length"
    [pageSize]="page_size"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePage($event)"
    aria-label="Select page">
</mat-paginator>
<ul>
  <li *ngFor="let l of listaStocks | paginator:page_size:page_number">
    <a href="/">{{l.id}}</a>
</li>
</ul>
<button (click)="addStock()">añadir</button>

  </div>



</div>
