
<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/png/icon_menu.svg" alt="menu">
    </button>
    <a href="" >
      <img src="./assets/png/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="./assets/png/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">close</button>
    <ul>
      <li><a routerLink="/stock">Crear Stock</a></li>
      <li><button >Stock Guardados</button></li>
      <li><a href="#">Información</a></li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/png/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a routerLink="/stock">Crear Stock</a></li>
        <li><a class="enlace" (click)="guardados()"> Guardados</a></li>
        <li><a href="#">Información</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">Usuario1</div>
      <div>
        <a href="">
          <img src="./assets/png/icon_shopping_cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
