
*{
  box-shadow: 20px 2px 5px rgb#686868;

}

.lia{
  margin: auto;
}
.show-mobile {
  display: block;
}

.botonMobile{
  background:none !important;
  border: none !important;
}

.divHide{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:#9e9e9e;
  box-shadow: 0px 2px 5px rgb(68,68,68);
}

.side-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transform: translateX(-100%);
  transition: all ease-out .5s;
  &.active{
    transform: translateX(0);
    transition: all ease-out .2s;

  }

}

.logo {
  margin-right: 1em;
  text-decoration: none !important;
  background-image: none !important;
  border: none !important;
}

.ulThreeActions{
  margin: 0px;
}

.xMobile{
  display: flex;
  justify-content: start;
  padding: 10px;
}

.enlace{
  width: 50px;
  font-size: 25px;
  padding: 10px;
}

.enlace:hover{
  cursor: pointer;
   color: yellow !important;
  }

.hide-mobile {
  display: none;
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      a {

        margin: 0 .2em;
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    .account {
      margin-right: .5em;
    }
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }

  .divHide{
    width: 100%;
    justify-content: space-around;
    background-color:#9e9e9e;
    box-shadow: 0px 2px 5px rgb#686868;

  }

  .ulDad{
    width:100%;
    display: flex;
    justify-content: space-around;
  }

  .ulThreeActions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
  }
}


/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;

  }

  .divHide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#9e9e9e;
    color: blue;
    box-shadow: 0px 2px 5px rgb#686868;
  }

  .ulDad{
    width:100%;
    display: flex;
    justify-content: space-around;
  }

  .ulThreeActions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
  }

  .enlace{
    width: 50px;
    font-size: 25px;
    padding: 10px;
    position:relative;

  }

  .enlace:active{
      width: 40px;
    padding: 9px;


  }
  .enlace:hover{
    width: 50px;
  }


  @keyframes cosaa{0%{font-size: 25px;} 50%{font-size: 23px;} 100%{font-size: 25px;}}

}



@media screen and (max-width: 700px) and (max-height: 800px) {


.show-mobile {
  display: block;
  box-shadow: 0px 2px 5px rgb(black, .5);
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      background: none;
    }
  }
}

.side-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transform: translateX(-100%);
  transition: all ease-out .5s;
  &.active{
    transform: translateX(0);

  }

}

.xMobile{
  display: flex;
  justify-content: start;
  padding: 10px;
}

.enlace:hover{
  cursor: pointer;
  }

.hide-mobile {
  display: none;
  box-shadow: 0px 2px 5px rgb(black, .2);
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 1em;
    border: none;
    background: none;
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      a {

        margin: 0 .2em;
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    .account {
      margin-right: .5em;
    }
  }
}
}

