
<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
    <a >
      <img src="../../../assets/png/icon_menu.svg" alt="logo">
    </a>
  </button>

  <img src="../../../assets/png/osoMobile.png">

  <div class="side-menu" [class.active]="activeMenu">
    <button class="xMobile" (click)="toggleMenu()"><img src="../../../assets/png/x.png"></button>
    <ul>
      <li><a (click)="loadStockPage()">Crear Stock</a></li>
      <li><button class="enlace" (click)="guardadosMovile()" >Stock Guardados</button></li>
      <li><a class="enlace" (click)="informacion()">Información</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="hide-mobile">
  <div class="divHide">
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/png/oso.png" alt="logo">
      </a>
      <div class="ulDad">
      <ul class="ulThreeActions">
        <li><a (click)="loadStockPage()">Crear Stock</a></li>
        <li><a class="enlace" (click)="guardados()"> Guardados</a></li>
        <li><a class="enlace" (click)="informacion()">Información</a></li>
      </ul>
      </div>
    </nav>
    <div class="info">
      <div class="account">Usuario1</div>

    </div>
  </div>
</div>
