
* {
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f3;
}

html, body {
  height: 100%;
  overflow-x:hidden;
  overflow-y:hidden; }
  
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-paginator-page-size {
  display: none;
  align-items: baseline;
  margin-right: 8px;
}
