
<div class="dady"  >

  <div  class="cabecera" >


<div class="cabecera2">
  <nav>
    <a href="/home" class="regreso"><img class="casita" src="../../../assets/png/casa.png"></a>
  </nav>

     <input type="text" class="texto"  [(ngModel)]="agregarProducto"  placeholder="Añadir Producto" maxlength="20"/>
     <input type="date"   class="texto2" [(ngModel)]="agregarFecha" placeholder="Añadir fecha"
     (keyup.enter)="AgregarProducto()" (keyup.enter)="AgregarProducto2()"/>


      <button  class="añadirL"  (click)="AgregarProducto()">Añadir a Lista 1</button>
      <button  class="añadirC" (click)="AgregarProducto2()">Añadir a Lista 2</button>
      <button  class="borrar" (click)="eliminar()" >Borrar</button>


    </div>
         <!--PhoneVersion -->

       <div class="textoPhoned">
         <input maxlength="18" type="text" class="textoPhone"  placeholder="Añadir Producto" v-model="value"/>
         <br />
         <input type="text"  class="textoPhone2" placeholder="Añadir fecha" v-model="value2"/>
       </div>

     <div class="botonesPhone">
       <button  class="añadirL2" v-on:click="añadir()">Añadir a Lista 1</button>
       <button  class="añadirC2" v-on:click="añadir2()">Añadir a Lista 2</button>
       <button  class="borrar2" v-on:click="eliminar()" >Borrar</button>
     </div>

 </div>



     <div  class="huno">
     <h1 class="lactis1">Lista 1</h1>
     <h1 class="lactis2">Lista 2</h1>
     </div>


  <div class="dad">

 <div class="tableroListaUno">
     <ul class="ulproduct" >
      <h2 >Lista1</h2>

 <li class="product" *ngFor="let p of lista1" >
   <p class="productText">{{p.producto}} {{p.fecha| date:"dd/MM/yyyy"}}<input type="checkbox" class="check" [(ngModel)]="p.eliminar"></p>
 </li>
</ul>
 </div>



 <div class="tableroListaDos">
   <ul class="ulproduct" >
    <h2 >Lista2</h2>

     <li  class="product" *ngFor="let p of lista2" >
     <p class="productText">{{p.producto}} {{p.fecha | date:"dd/MM/yyyy"}}<input type="checkbox" class="check"  [(ngModel)]="p.eliminar">
     </li>

 </ul>


 </div>
</div>

 <div class="saveDiv">
  <a class="saveButton" (click)="guardarStock()"><img src="../../../assets/png/saveDisk.png"></a>
  <p>Guardar Stock</p>
  </div>
</div>

